.componentsimple__notyfications {
  &_box {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    color: #fff;
    justify-content: center;
    background-color:rgba(192,192,192,0.3);
    max-width: 50rem;
    padding-right: 1rem;
    &_temperature {
      text-align: center;
      font-size: 1rem;
      display: flex;
      padding-left: 1rem;
      padding-right: 1rem;
      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 3rem;
      }
    }
    &_data {
      padding-left: 2rem;
      text-align: center;
      ul {
        list-style: none;
        li {
          display: flex;
          h1 {
            margin-top: 0.5rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 900;
          }
          p {
            text-align: center;
            font-size: 1rem;
            font-weight: 300;
            margin: 0.5rem auto auto 1rem;
          }
        }
      }
    }
    &_more {
      padding-left: 2rem;
      padding-bottom: 2rem;
      text-align: center;
      margin-top: 6rem;
      margin-left: 2rem;
      a {
       text-align: center;
        text-decoration: none;
        font-weight: 900;
        color: white;
      }
    }
  }
  @media only screen and (max-width: 1080px) {
    &_box {
      display: block;
      padding-top: 0;
      width: 80%;
      &_temperature {
        margin-left: 2rem;
        padding: 0;
        justify-content: center;
        height: 7rem;
      }
      &_data {
        padding: 0;
        ul {
          padding: inherit;
          li {
            h1 {
              margin-left: auto;
            }
          }
        }
      }
      &_more {
        padding: 2rem;
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    &_box {
      &_data {
        ul {
          padding: inherit;
          li {
            display: block;
            p {
              margin: auto;
              font-size: 1.5rem;
            }
          }
        }
      }
      &_more {
        padding: 2rem;
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
}
