@import "~@/assets/scss/database.scss";
.weatherapp__more {
  text-shadow: 1px 1px rgb(0, 0, 0, 0.3);
  @include pageWidth;
  margin: -3.6rem auto 0 auto;
  text-align: center;
  &_place{
    display: inline-flex;
    height: 4rem;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    &_date {
      @include fullCenter;
      padding-left: 2rem;
      display: flex;
      h1 {
        font-size: 1rem;
        font-weight: 900;
      }
      p {
        margin-left: 0.5rem;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    &_location {
      @include fullCenter;
      padding-right: 2rem;
      display: flex;
      h1 {
        font-size: 1rem;
        font-weight: 900;
      }
      p {
        margin-left: 0.5rem;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
  @media only screen and (max-width: 1080px) {
    width: 80%;
  }
  @media only screen and (max-width: 600px) {
    &_place{
      &_date {
        p {
          font-size: 1.1rem;
        }
      }
      &_location {
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
  @media only screen and (max-width: 500px) {
    &_place{
      display: grid;
      &_date {
        padding-left: 0;
      }
      &_location {
        padding-right: 0;
      }
    }
  }
}
